 body {
  background: #FCFBE3;
  text-align: center;
  display: grid;
  grid-auto-columns: 10%;
  padding-left: 275px;
  font-family: 'Libre Baskerville', serif;
}

h1{
  grid-column: 5;
  padding-bottom: 50px;
}

.oscClass{
  background: #f5fffa;
  width: 128px;
  height: 128px;
  border-radius: 64px;
  border-style: solid;
  border-width: 0.55px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
}

.oscClass div{
  position:relative;
  left: 19px;
  top: 19px;
  width: 90px;
  height: 90px;
  color: white;
  text-align:center;
}

.oscClass:active{
  color: #e1f4e8;
  background: #e1f4e8;
}

#osc{
  grid-column: 1;
}

#osc2{
  grid-column: 2;
}

#osc3{
  grid-column: 3;
}
